 <!-- Navigation-->
 <nav class="navbar navbar-expand-lg navbar-light bg-dark ">
    <div class="container px-4 px-lg-5">
        <!-- <div class="col-md-7"> -->
            <a  class="navbar-brand" href="">
                <i id="icon1" class="fa-solid fa-utensils fa-3x text-light set1"></i>
                <b class="text-light set1" style="font-size: 30px;">Cafe De Bale</b>
            </a>
        <!-- </div> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item">
                    <input (keyup)="searchTerm($event)" style="width:600px;" type="text" [placeholder]="restNote" class="form-control">
                </li>
                &nbsp; &nbsp;
                <li class="nav-item"><a class="nav-link active text-light" aria-current="page" href="add-restaurant">Add New Restaurant</a></li>  
            </ul>   
        </div>
    </div>
</nav>