<h1 class="text-center mt-3">{{restName}}</h1>
<h4>{{lDate | date:'medium'}}</h4>
<!-- Section-->
<section class="py-5">
    <div class="px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" *ngFor="let restaurant of restaurantList | filter :searchTerm:'name'">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="{{restaurant.photograph}}" alt="no image" />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">{{restaurant.name}}</h5>
                            <!-- Product neighbourhood-->
                            {{restaurant.neighborhood}}
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="view-restaurant/{{restaurant.id}}">View options</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>